<!DOCTYPE html>
<html>
    <head>
        
        <style type ="text/css">
            h1{
                text-decoration: overline;
                text-align: center;
                font-family: "Georgia";
                color: midnightblue;
                
            }
            h2{
                text-align: center;
                text-decoration: underline;
                font-family: "Georgia";
                color: midnightblue;
            }
            body{
                font-family: "Georgia";
                color: midnightblue;
            }
            authors{
                font-family: "Georgia";
                position: absolute;
                    TOP: 5px;
                    LEFT: 0px;
            }
        </style>
        <title>MP5: Hierarchical Modeling and Direct Manipulation</title>
        <link rel ="icon" type ="image/x-icon" href="./assets/favicon.png">

        <!-- the following says there are javascript source code contained in 
             the external source files
        -->
        <!-- external library -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script type="text/javascript" src="src/lib/gl-matrix.js"></script>
        <script type="text/javascript" src="src/lib/webgl-obj-loader.js"></script>

        <!-- Engine code: Graphics Support -->
        <!-- Core of Engine -->
        <script type="text/javascript" src="src/Engine/Core/Engine_Core.js"></script>
        <script type="text/javascript" src="src/Engine/Core/Engine_VertexBuffer.js"></script>
        <script type="text/javascript" src="src/Engine/Core/Engine_MouseSupport.js"></script>
        <script type="text/javascript" src="src/Engine/SimpleShader.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable/Renderable.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable/SquareRenderable.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable/CircleRenderable.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable/MeshRenderable.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable/SceneNode.js"></script>
        <script type="text/javascript" src="src/Engine/Transform/Transform.js"></script>
        <script type="text/javascript" src="src/Engine/Transform/PivotedTransform.js"></script>
        <script type="text/javascript" src="src/Engine/Camera/Camera.js"></script>
        <script type="text/javascript" src="src/Engine/Camera/Camera_Mouse.js"></script>

        <!-- GUI Lib -->
        <script type="text/javascript" src="src/GUI/CSS450Timer.js"></script>
        <script type="text/javascript" src="src/GUI/CSS450Slider.js"></script>
        <script type="text/javascript" src="src/GUI/CSS450Xform.js"></script>
        <script type="text/javascript" src="src/GUI/CanvasMouseSupport.js"></script>
        
        <!-- My application code -->
        <script type="text/javascript" src="src/MainController.js"></script> 
        <script type="text/javascript" src="src/App/World.js"></script> 
        <script type="text/javascript" src="src/App/World_MouseOver.js"></script> 
        <script type="text/javascript" src="src/App/ArmSegment.js"></script>
        <script type="text/javascript" src="src/App/Bed.js"></script> 
        <script type="text/javascript" src="src/App/SceneHandle.js"></script>
    </head>

    <body bgcolor="teal"
         ng-app="appMyExample" 
         ng-controller="MainCtrl">
        
    <css-timer id="idMainControllerTimer"
               interval="40"
               timeron="true"
               callback="mainTimerHandler"></css-timer>
               
    
    <div style="display: inline-block">
        
        
        
    </div>
    
        <h1>MP5: Hierarchical Modeling and Direct Manipulation</h1>
        <br>
        <h3>Selected Object</h3> 
        <label ng-repeat="myOp in eSelection">
        {{myOp.label}}<input type="radio" 
                    value={{myOp.label}}
                    font ="Georgia"
                    ng-model="$parent.mSelectedEcho"
                    ng-click="serviceSelection()"
                    > &nbsp; <br>
        </label>
        <canvas style = "position:absolute; TOP:175px; LEFT:230px;"            
            ng-mousemove="onMouseMove($event)"
            ng-mousedown="onMouseDown($event)"
            id="GLCanvas" width="800" height="600">
            <!-- GLCanvas is the area we will draw in: a 640x480 area. -->
            Your browser does not support the HTML5 canvas.
            <!-- this message will show only if WebGL clearing failed -->
        </canvas>
        <br>
        
        <css-xform model="mSelectedXform">  </css-xform>
        <br><br><br>
        Draw Control Points: <input type="checkbox" ng-model="mMyWorld.vmShouldDrawControl"> <br>
        Draw Scene Handle: <input type="checkbox" ng-model="mShouldDrawHandle"><br>
        Mouse Over: <br> <input type="text" ng-model="mMouseOver" size=20 readonly><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
        Authors: <br>
        John Fitzgerald <br>
        Griffin Howlett <br>
        Darren Kriner   <br>
        
                   
    </body>
</html>