<!DOCTYPE html>
<html>
    <head>

        <title>Interior Organizer</title>
        <link rel ="icon" type ="image/x-icon" href="./assets/favicon.png">

        <!-- the following says there are javascript source code contained in 
             the external source files
        -->
        <!-- Style -->
        <link rel="stylesheet" type="text/css" href="myCSS.css">
        <script src="src/jscolor.js"> </script>
        
        <!-- external library -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script type="text/javascript" src="src/lib/gl-matrix.js"></script>
        <script type="text/javascript" src="src/lib/webgl-obj-loader.js"></script>

        <!-- Engine code: Graphics Support -->
        <!-- Core of Engine -->
        <script type="text/javascript" src="src/Engine/Core/Engine_Core.js"></script>
        <script type="text/javascript" src="src/Engine/Core/Engine_VertexBuffer.js"></script>
        <script type="text/javascript" src="src/Engine/Core/Engine_MouseSupport.js"></script>
        <script type="text/javascript" src="src/Engine/SimpleShader.js"></script>
        <script type="text/javascript" src="src/Engine/Texture.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable/Renderable.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable/SquareRenderable.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable/CircleRenderable.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable/SceneNode.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable/SquareArea.js"></script>
        <script type="text/javascript" src="src/Engine/Transform/Transform.js"></script>
        <script type="text/javascript" src="src/Engine/Transform/PivotedTransform.js"></script>
        <script type="text/javascript" src="src/Engine/Camera/Camera.js"></script>
        <script type="text/javascript" src="src/Engine/Camera/Camera_Mouse.js"></script>

        <!-- GUI Lib -->
        <script type="text/javascript" src="src/GUI/CSS450Timer.js"></script>
        <script type="text/javascript" src="src/GUI/CSS450Slider.js"></script>
        <script type="text/javascript" src="src/GUI/CSS450Xform.js"></script>
        <script type="text/javascript" src="src/GUI/CanvasMouseSupport.js"></script>
        
        <!-- My application code -->
        <script type="text/javascript" src="src/MainController.js"></script> 
        <script type="text/javascript" src="src/App/World.js"></script> 
        <script type="text/javascript" src="src/App/TransformHandle.js"></script>
        <script type="text/javascript" src="src/App/Room.js"></script> 
        

    </head>

<body 
         ng-app="appMyExample" 
         ng-controller="MainCtrl">
        
    <css-timer id="idMainControllerTimer"
               interval="40"
               timeron="true"
               callback="mainTimerHandler"></css-timer>
               
    
    <!--------Title Text------------------------->
    <div class="name">
        <h1>Interior Organizer</h1>
        <h2>Design Your Own Home!</h2>
    </div>
   
    
    <!----------CANVAS------------------------------->
    <div class="canvasBorder"> 
        <canvas 
            ng-mousemove="onMouseMove($event)"
            ng-mousedown="onMouseDown($event)"
            id="GLCanvas" width="1000" height="600" >
            <!-- GLCanvas is the area we will draw in: a 640x480 area. -->
            Your browser does not support the HTML5 canvas.
            <!-- this message will show only if WebGL clearing failed -->
        </canvas>
    </div>
    
    
        <!---VIEW LABELS --->
        <div class="viewLabel" style = "top: 148px;">
                  <h3>Floor + Ceiling</h3>
         </div>

        <div class="viewLabel" style = "top: 325px;">
                  <h3>Floor</h3>
          </div>
        
        <div class="viewLabel" style = "top: 502px;">
                  <h3>House</h3>
          </div>
        
        <!-------Add/Delete Room Buttons----------------->
        <button class="dropbtn" style= "top: 215px; left: 1100px;" ng-click="addRoom()"><b>Add Room</b></button>
        <button class="dropbtn" style= "top: 215px; left: 1265px;" ng-click="deleteRoom()"><b>Delete Room</b></button>
<!--        <div class="dropdown" style="position: absolute; top: 215px; left: 1100px;">
             <button class="droproom"><b>Add Room</b></button>
                <div class="dropdown-content">
                    <a ng-click = "addRoom('Room 1')">Room1</a>
                    <a ng-click = "addRoom('Room 2')">Room2</a>
                </div>
          </div>  -->

        
        <!-------Add Furniture Dropdown----------------->
         <div class="dropdown" style="position: absolute; top: 160px; left: 1100px;">
             <button class="dropbtn"><b>Add Furniture</b></button>
                <div class="dropdown-content">
                    <a ng-click = "addFurniture('Bed 1')">Bed 1</a>
                    <a ng-click = "addFurniture('Bed 2')">Bed 2</a>
                    <a ng-click = "addFurniture('Ceiling Fan 1')">Ceiling Fan 1</a>
                    <a ng-click = "addFurniture('Chair 1')">Chair 1</a>
                    <a ng-click = "addFurniture('Chair 2')">Chair 2</a>
                    <a ng-click = "addFurniture('Couch 1')">Couch 1</a>
                    <a ng-click = "addFurniture('Couch 2')">Couch 2</a>
                    <a ng-click = "addFurniture('Lamp 1')">Lamp 1</a>
                    <a ng-click = "addFurniture('Plant 1')">Plant 1</a>
                    <a ng-click = "addFurniture('Rug 1')">Rug 1</a>
                    <a ng-click = "addFurniture('Table 1')">Table 1</a>
                </div>
          </div>  
        
        <!----Edit Texture Dropdown----
        <div class="dropdown" style = "position:absolute; top: 160px; left:1250px;">
            <button class="dropbtn"><b>Edit Texture</b></button>
                <div class="dropdown-content">
                  <a ng-click = "editTexture('Texture1')">Texture 1</a>
                  <a ng-click = "editTexture('Texture2')">Texture 2</a>
                  <a ng-click = "editTexture('Texture3')">Texture 3</a>
                </div>
          </div>
        -->
        
        
        
        <!--Layer ordering buttons------->
        <button class="dropbtn" style= "top: 650px; left: 1100px;" ng-click="bringForward()" ><b>Bring Forward</b></button>
        <button class="dropbtn" style= "top: 720px; left: 1100px;" ng-click="sendBackward()" ><b>Send Backward</b></button>
        
        <!--Delete Button -->
        <button class="dropbtn" style= "top: 790px; left: 1100px;" ng-click="deleteItem()" ><b>Delete Item</b></button>
        
        
        <!----Color Picker----
        <button class="dropbtn" style="top: 75px; left: 1380px; cursor: default; height: 30px; width: 150px; padding: 0px"><b>Edit Color</b></button>
        
        <input ng-model= "mCurrentColor" id="jscolor" class ="jscolor" ng-change="changeColor()" value="Change Color">
        <br>
        --><br><br>

        <css-slider style="color: darkorange; font-style: oblique;" model="floorDesignScale" min="1" max="100" label="Carpet Scale:" callback="setFloorDesignScale()"></css-slider>

        <label style="color: darkorange;"><b>Upload Floor Design:</b></label>
        <input style="color: darkorange" type="file" onchange="angular.element(this).scope().acceptTexFile(event)">
        
        <!-----------Ruler Images--------------
        <img src="assets/rulertop.png" alt="Top ruler" style="position: absolute; top: 698px; left: 100px; width: 670px">
        <img src="assets/rulerside.png" alt="Side ruler" style="position: absolute; top: 240px; left: 60px; height: 460px;;">
        ->
        

        <!----Item Size Echo boxes----->
        <input class="dimensions" style= "top: 315px; left: 1130px; " type="text" id="xDimension" ng-model="mItemXDim" ng-change="customResizeItem()">
        <input class="dimensions" style= "top: 340px; left: 1130px; " type="text" id="yDimension" ng-model="mItemYDim" ng-change="customResizeItem()">
        
        <!-----item size fine tuners----->
        <button class="incrBtn" style="top: 315px; left: 1220px;" ng-click="incrXDim()"> <b>+</b> </button>
        <button class="incrBtn" style="top: 315px; left: 1250px;" ng-click="decXDim()">  <b>-</b> </button>
        <button class="incrBtn" style="top: 340px; left: 1220px;" ng-click="incrYDim()"> <b>+</b> </button>
        <button class="incrBtn" style="top: 340px; left: 1250px;" ng-click="decYDim()">  <b>-</b> </button>
        
        <!---------Item position Echo Boxes---------->
        <input class="dimensions" style= "top: 425px; left: 1130px;  " type="text" id="xPos" ng-model="mItemXPos" ng-change="customMoveItem()">
        <input class="dimensions" style= "top: 450px; left: 1130px;  " type="text" id="yPos" ng-model="mItemYPos" ng-change="customMoveItem()">
        
        <!----item size fine tuners---->
        <button class="incrBtn" style="top: 425px; left: 1220px;" ng-click="incrXPos()">  <b>+</b> </button>
        <button class="incrBtn" style="top: 425px; left: 1250px;" ng-click="decXPos()">  <b>-</b> </button>
        <button class="incrBtn" style="top: 450px; left: 1220px;" ng-click="incrYPos()">  <b>+</b> </button>
        <button class="incrBtn" style="top: 450px; left: 1250px;" ng-click="decYPos()">  <b>-</b> </button>
        
        <!-----Room Size Echo Boxes------------>
        <input class="dimensions" style= "top: 550px; left: 1130px;  " type="text" id="customRoomX" ng-model="mMyWorld.mCurrentRoom.mRoomX" ng-change="customResizeRoom()">
        <input class="dimensions" style= "top: 575px; left: 1130px;  " type="text" id="customRoomY" ng-model="mMyWorld.mCurrentRoom.mRoomY" ng-change="customResizeRoom()">
        
        <!-----Room size fine tuners------>
        <button class="incrBtn" style="top: 550px; left: 1220px;" ng-click="resizeRoom(0.1,0)">  <b>+</b> </button>
        <button class="incrBtn" style="top: 550px; left: 1250px;" ng-click="resizeRoom(-0.1,0)">  <b>-</b> </button>
        <button class="incrBtn" style="top: 575px; left: 1220px;" ng-click="resizeRoom(0,0.1)">  <b>+</b> </button>
        <button class="incrBtn" style="top: 575px; left: 1250px;" ng-click="resizeRoom(0,-0.1)">  <b>-</b> </button>
        
        <!----input labels----->
        <div class="authors" style="left: 1100px; top: 270px; font-size: 18px"> <b> Item Size </b><i>[ft.]</i>      </div>
        <div class="simpleText" style="left: 1100px; top: 315px;"> X <br> Y                                              </div>
        
        <div class="authors" style="left: 1100px; top: 390px; font-size: 18px"> <b> Item Position </b><i>[ft.]</i>  </div>
        <div class="simpleText" style="left: 1100px; top: 425px;"> X <br> Y                                                       </div>
        
        <div class="authors" style="left: 1100px; top: 500px; font-size: 18px;"> <b> Room Size </b> <i>[ft.]</i>    </div>
        <div class="simpleText" style="left: 1100px; top: 550px;"> X <br> Y                                                       </div>

        <!-----Credits------>
        <div class="authors"> Created by: John Fitzgerald, Griffin Howlett, and Darren Kriner </div>
        

        <!------Directions---->
        <div class="directions">
             Directions: <br>
            1)Adjust the room size to your preference using the controls<br>
            2)Using the drop-down on the top right to add furniture<br>
            3)Select between the 2 viewports to filter what sort of furnishings to show <br>
            [...]
        </div>
               
</body>


</html>